# IDEA
/.idea
*.iml
/atlassian-ide-plugin.xml

# GRADLE
/.gradle
/.build
/gradle-*.properties

# SpringBoot and apps
/system.properties
/application.yaml
/application-*.yaml

# OTHER
/mybuild.sh
/.keystore
/build.sh
/test.sh
/.soapui
*~
