# IDEA
/.idea
*.iml
/atlassian-ide-plugin.xml

# GRADLE
/.gradle
/.build
/gradle-*.properties
/gradle-app.setting
/mybuild.sh

# OTHER
rebel.xml
/.keystore
/.soapui

# SpringBoot and apps
/system.properties
/application.yaml
/application-*.yaml
/*.json
